#header {
	background: #fff;
	left: 300px;
	position: absolute;
	width: auto;
	right: 50px;
	top: 0px;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
	color:#333;
}

#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
	width:100%;
}

.one-sidebar #content {
	width: auto;
	position: absolute;
	right: 50px;
	left: 300px;
	top: 100px;
}

body {
	background: url(../images/cmyk.png) #fff repeat-y 200px;
}

#page,
#header,
#page-wrapper,
#footer-wrapper,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
	background: none;
}

#sidebar-first {
	width: 200px;
	position: absolute;
	top: 0px;
}

.sidebar li a,
.sidebar li a:link,
.sidebar li a:visited {
	position: absolute;
	left: 0px;
	right: 0px;
	background: #ddd;
	width: auto;
	padding: 5px 10px;
}

.sidebar li a:hover {
	padding-left:15px;
	text-decoration: none;
	background: #fff10c;
	color: #000;
}

.sidebar li a.active {
	background: #0093d3;
}

#site-name {
	font-size: 2.5em;
}

.sidebar .block {
	background: inherit;
	border-color: #FFF;
}

#search-block-form input {
	background: #FFA;
	border: #BBB solid 1px;
}

.without-secondary-menu .region-header {
	margin-top: 35px;
}

body,
#site-slogan,
.ui-widget,
.comment-form label {
	font-family: Helvetica,Arial,sans-serif;
}

ul.menu li {
	padding: 5px 0px;
}

#breadcrumb {
	display: none;
}

#footer-wrapper {
	display: none;
}
